<div id="content">
  <div class="click-here"><p class="animated swing infinite">Here !</p></div>
  
<!-- Menu start -->
  <div class="donuts">
    <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open"/>
    <label class="donuts__item donuts__item--origin" for="menu-open">
      <i class="material-icons donuts__icon donuts__icon--open">menu</i>
      <i class="material-icons donuts__icon donuts__icon--close">close</i>
    </label>
    <ul class="donuts__nav">
      <li class="donuts__item"><a href="#" class="donuts__link"><i class="material-icons donuts__icon">bookmark_border</i></a></li>
      <li class="donuts__item"><a href="#" class="donuts__link"><i class="material-icons donuts__icon">search</i></a></li>
      <li class="donuts__item"><a href="#" class="donuts__link"><i class="material-icons donuts__icon">mail_outline</i></a></li>
      <li class="donuts__item"><a href="#" class="donuts__link"><i class="material-icons donuts__icon">notifications_none</i></a></li>
      <li class="donuts__item"><a href="#" class="donuts__link"><i class="material-icons donuts__icon">person_outline</i></a></li>
      <li class="donuts__item"><a href="#" class="donuts__link"><i class="material-icons donuts__icon">chat_bubble_outline</i></a></li>
      <li class="donuts__item"><a href="#" class="donuts__link"><i class="material-icons donuts__icon">cast</i></a></li>
      <li class="donuts__item"><a href="#" class="donuts__link"><i class="material-icons donuts__icon">settings</i></a></li>
    </ul>
    <div class="donuts__bg"></div>
  </div>
<!-- Menu end -->
  
</div>