section{
    
    height: 100vh;
	background-color: var(--clr);
    color: var(--txt);
    padding-top: 70px;
}

.angular{
    background: url("../../../assets/angular-logo.svg") no-repeat;
    background-size: cover;
    width: 135px;
    height: 145px;
    
}

.accueilContent{
    display: flex;
    justify-content: space-around;
}

