<section id="accueil" class="sectionContent" [style]="styles[0]" >
    <div class="accueilContent" >
        <div class="accueilTXT"> 
            <h1 id="h1" class="gs_reveal">Bienvenue sur mon portfolio ! </h1>
            <h2 class="gs_reveal">Je suis un développeur junior passionné, spécialisé en JAVA, JEE et .Net. </h2>
            <p class="rellax gs_reveal" data-rellax-speed="-1">
                💻 Mon site est conçu avec TypeScript, Angular, CSS3, SCSS, RSS et GSAP, 
                offrant une expérience fluide et dynamique. Explorez mes projets et compétences, 
                et n'hésitez pas à me contacter pour toute collaboration ! 🚀
            </p>
        </div> 
        <div class="logos">
            <div class="rellax angular" data-rellax-speed="2"></div>
            <div class="rellax typescript" data-rellax-speed="2"></div>
            <div class="rellax sass" data-rellax-speed="2"></div>
            <div class="rellax css3" data-rellax-speed="2"></div>
            <div class="rellax ssr" data-rellax-speed="2">
                <div class="imgSsr" ></div>
                <p>Server Side Rendering</p>
            </div>
            <div class="rellax gsap" data-rellax-speed="2">
                <div class="imgGsap" ></div>
                <p>GSAP</p>
            </div>
        </div>
    </div>
</section>

<section id="apropos" class="sectionContent gs_reveal gs_reveal_fromLeft" [style]="styles[2]" >

    <h2 >À propos de moi</h2>
    <p>Je suis un développeur web passionné par la création de solutions innovantes. J'ai commencé à coder à l'âge de 15 ans et depuis lors, j'ai travaillé sur de nombreux projets passionnants. J'aime résoudre des problèmes complexes et créer des solutions élégantes et efficaces.</p>
    <p>En dehors du développement web, j'aime la photographie, la randonnée et la lecture de livres de science-fiction.</p>
</section>
<section id="competences" class="sectionContent gs_reveal gs_reveal_fromRight" [style]="styles[3]">
    <h2>Mes compétences</h2>
    <p>Je suis compétent en HTML, CSS, JavaScript, React et Node.js. J'ai également de l'expérience avec d'autres technologies comme Python, Django et MongoDB.</p>
    <p>J'ai travaillé sur plusieurs projets, allant de petits sites web personnels à de grandes applications web pour entreprises. J'ai une solide expérience de travail en équipe et je suis capable de mener un projet du début à la fin.</p>
</section>
<section id="contact" class="sectionContent gs_reveal gs_reveal_fromLeft" [style]="styles[4]">
    <h2>Contactez-moi</h2>
    <p>Vous pouvez me contacter à monadresseemailatexample.com ou me suivre sur les réseaux sociaux. J'aimerais avoir de vos nouvelles !</p>
</section>

