
@import url('https://fonts.googleapis.com/css2?family=Jersey+20&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}
section{
    min-height: 100vh;
	background-color: var(--clr);
    color: var(--txt);
    padding-top: 70px;
}

.angular{
    background: url("../../../assets/angular-logo.svg") no-repeat;
    background-size: cover;
    width: 114px;
    height: 120px;
    z-index: 0;
}

.css3{
    background: url("../../../assets/css3-logo.svg") no-repeat;
    background-size: cover;
    width: 82px;
    height: 116px;
}

.sass{
    background: url("../../../assets/sass-logo.svg") no-repeat;
    background-size: cover;
    width: 129px;
    height: 97px;
}

.typescript{
    background: url("../../../assets/typescript-logo.svg") no-repeat;
    background-size: cover;
    width: 102px;
    height: 101px;
    
}

.imgSsr{
    background: url("../../../assets/proton-xpr-seeklogo.svg") no-repeat;
    background-size: cover;
    width: 104px;
    height: 117px;
}

.ssr{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.ssr p{
    font-family: 'Jersey 20', sans-serif;
    font-size: 1.3em;
    font-style: italic;
    color: #5d4ca0;
}

.gsap{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.gsap p{
    font-family: 'Jersey 20', sans-serif;
    font-size: 1.3em;
    font-style: italic;
    color: #88ce02;
}

.imgGsap{
    background: url("../../../assets/greensock-gsap-icon-seeklogo.svg") no-repeat;
    background-size: cover;
    width: 104px;
    height: 117px;
}

.accueilContent{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accueilTXT{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
}

.accueilTXT h1{
    font-size: 2em;
}

.accueilTXT h2{
    font-size: 1.2em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.accueilTXT p{
    margin-top: 50px;
    margin-bottom: 20vh;
}

.accueilContent .accueilTXT {
    width: 70%;
}

.logos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
    width: 95%;
}

/*
* STYLE POUR LE H1 ANIMATED
*/



// .accueilTXT  h1 {

//   	font: 700 2.5em/1 "Oswald", sans-serif;
//   	letter-spacing: 0;
//   	padding: .25em 0 .325em;
// 	  display: block;
// 	  margin: 0 auto;
//   	text-shadow: 0 0 80px rgba(255,255,255,.5);

/* Clip Background Image */

	//   background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y;
	//   -webkit-background-clip: text;
	//   background-clip: text;

/* Animate Background Image */

	//   -webkit-text-fill-color: transparent;
	//   -webkit-animation: aitf 80s linear infinite;

/* Activate hardware acceleration for smoother animations */

// 	  -webkit-transform: translate3d(0,0,0);
// 	  -webkit-backface-visibility: hidden;

//   }


/* Animate Background Image */

// @-webkit-keyframes aitf {
// 	0% { background-position: 0% 50%; }
// 	100% { background-position: 100% 50%; }
// }