<section id="accueil" class="sectionContent" [style]="styles[0]">
    <div class="accueilContent">
        <h1>Bienvenue sur mon portfolio</h1>
        <p>Je suis ravi de vous présenter mes compétences et réalisations.</p>
    </div>
</section>
<section id="projets" class="sectionContent" [style]="styles[1]">
    <h2>Mes Projets</h2>
    <p>J'ai travaillé sur plusieurs projets intéressants au cours de ma carrière. Vous pouvez consulter certains de mes travaux ci-dessous :</p>
    <ul>
        <li><strong>Projet 1 :</strong> Description du projet 1</li>
        <li><strong>Projet 2 :</strong> Description du projet 2</li>
        <li><strong>Projet 3 :</strong> Description du projet 3</li>
    </ul>
</section>
<section id="apropos" class="sectionContent" [style]="styles[2]">

    <h2>À propos de moi</h2>
    <p>Je suis un développeur web passionné par la création de solutions innovantes. J'ai commencé à coder à l'âge de 15 ans et depuis lors, j'ai travaillé sur de nombreux projets passionnants. J'aime résoudre des problèmes complexes et créer des solutions élégantes et efficaces.</p>
    <p>En dehors du développement web, j'aime la photographie, la randonnée et la lecture de livres de science-fiction.</p>
</section>
<section id="diplomes" class="sectionContent" [style]="styles[3]">
    <h2>Mes diplômes</h2>
    <p>J'ai obtenu mon diplôme en informatique de l'Université XYZ. Pendant mes études, j'ai acquis une solide compréhension des principes fondamentaux de l'informatique et j'ai développé une passion pour le développement web.</p>
    <p>Depuis l'obtention de mon diplôme, j'ai suivi plusieurs cours en ligne pour approfondir mes connaissances en HTML, CSS, JavaScript, React et Node.js.</p>
</section>
<section id="competences" class="sectionContent" [style]="styles[4]">
    <h2>Mes compétences</h2>
    <p>Je suis compétent en HTML, CSS, JavaScript, React et Node.js. J'ai également de l'expérience avec d'autres technologies comme Python, Django et MongoDB.</p>
    <p>J'ai travaillé sur plusieurs projets, allant de petits sites web personnels à de grandes applications web pour entreprises. J'ai une solide expérience de travail en équipe et je suis capable de mener un projet du début à la fin.</p>
</section>
<section id="contact" class="sectionContent" [style]="styles[5]">
    <h2>Contactez-moi</h2>
    <p>Vous pouvez me contacter à monadresseemailatexample.com ou me suivre sur les réseaux sociaux. J'aimerais avoir de vos nouvelles !</p>
</section>

