<div class="donuts">
  <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open"/>
  <label class="donuts__item donuts__item--origin" for="menu-open">
    <i><span class="material-symbols-outlined donuts__icon donuts__icon--open" >menu</span></i>
    <i><span class="material-symbols-outlined donuts__icon donuts__icon--close" >close</span></i>
  </label>
  <ul class="donuts__nav">
    <li class="donuts__item"><a title="Accueil" href="home#accueil" class="donuts__link"><i><span class="material-symbols-outlined donuts__icon" >home</span></i></a></li>
    <li class="donuts__item"><a title="A propos" href="home#apropos" class="donuts__link"><i><span class="material-symbols-outlined donuts__icon" >info</span></i></a></li>
    <li class="donuts__item"><a title="Compétences" href="home#competences" class="donuts__link"><i><span class="material-symbols-outlined donuts__icon" >patient_list</span></i></a></li>
    <li class="donuts__item"><a title="Contacts" href="home#contact" class="donuts__link"><i><span class="material-symbols-outlined donuts__icon" >mail_outline</span></i></a></li>
  </ul>
  <div class="donuts__bg"></div>
</div>
  
